.chart {
	shape-rendering: crispEdges;
}

.mini text {
	font: 9px sans-serif;
}

.main text {
	font: 12px sans-serif;
}

.month text {
	text-anchor: start;
}

.todayLine {
	stroke: blue;
	stroke-width: 1.5;
}

.axis line{
	stroke: rgb(21, 22, 20);
	stroke-width: 2;
	}

.axis path {
	stroke: rgb(21, 22, 20);
	stroke-width: 2;
}

.miniItem {
	stroke-width: 6;
}

.future {
	stroke: gray;
	fill: #ddd;
}

.past {
	stroke: rgba(7, 7, 8, 0.74);
}

.dev1{
	stroke: #009e73;
}

.dev2{
	stroke: #0072b3;
}

.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}

div.HistTooltip {
	 position: absolute;
	 width: auto;
	 font-weight: bold;
	 color:rgb(142, 176, 163);
	 height: auto;
	 opacity: 0.5;
	 border: 3px solid #dbd9d9;
	 padding: 10px;
	 background-color:rgba(9, 9, 9, 0.84);
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
	 -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	 -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	 box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	 pointer-events: none;
 }
