.dev1{
  stroke: rgb(0, 158, 115);
}

.dev2{
  stroke: rgb(86, 180, 233);
}

.active{
  stroke: rgb(167, 23, 103);
}

.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}

.axis line{
	stroke: rgb(21, 22, 20);
	stroke-width: 2;
	}

.axis path {
	stroke: rgb(21, 22, 20);
	stroke-width: 2;
}

#stringVis{
  width: auto;
	height: 800px;
  background: url(../img/Background_grid_plain.png) no-repeat;
  background-size: 100% 100%;
}

#stringBrush{
  width: auto;
  height: auto;
}

div.StringTooltip {
	 position: absolute;
	 width: auto;
	 font-weight: bold;
	 height: auto;
	 opacity: 0.5;
	 border: 3px solid #dbd9d9;
	 padding: 10px;
	 background-color:rgba(9, 9, 9, 0.84);
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
	 -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	 -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	 box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	 pointer-events: none;
 }
