.redline{
  stroke: green;
}

.blueline{
  stroke: blue;
}

.greenline{
  stroke: yellow;
}

.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}

.axis line{
	stroke: rgb(21, 22, 20);
	stroke-width: 2;
	}

.axis path {
	stroke: rgb(21, 22, 20);
	stroke-width: 2;
}

#stringVis{
  width: auto;
  height: auto;
  background: url(../img/perimeter.png) no-repeat;
  background-size: 100% 100%;
}
